/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:root {
  --application-background-color: white;
  --application-foreground-color: black;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --application-background-color: rgb(56, 56, 61);
    --application-foreground-color: rgb(249, 249, 250);
  }
}

body {
  background-color: var(--application-background-color);
  color: var(--application-foreground-color);
  font-family: "DejaVu Sans", "Lucida Grande", "Tahoma", sans;
  direction: __MSG_@@bidi_dir__;
  margin: 20px;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.title {
  margin-top: 0;
}

.settings {
  margin: 20px;
}

.otherSettings {
  padding-inline: 20px;
}

.betweenInset {
  padding-inline: 20px;
}

#betweenColumnImage {
  width: 300px;
}

.working {
  text-align: left;
}

#workingImg {
  width: 16px;
}

#actionEnableBetween {
  margin-top: 15px;
}
