<!DOCTYPE html>

<html>

<head>
  <title>Conversation Reader</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="chrome://messenger/skin/tagColors.css"/>
  <link rel="stylesheet" type="text/css" href="chrome://conversations/skin/boxflex.css">
  <link rel="stylesheet" type="text/css" href="chrome://conversations/skin/conversation.css">
  <link rel="stylesheet" type="text/css" href="chrome://conversations/skin/tokeninput.css">
  <script type="text/javascript" src="chrome://conversations/content/js/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="chrome://conversations/content/js/jquery.text-overflow.js"></script>
  <script type="text/javascript" src="chrome://conversations/content/js/jquery.tmpl.js"></script>
  <script type="text/javascript" src="chrome://conversations/content/js/jquery.tokeninput.js"></script>
  <!-- The two scripts below share the same scope, they were split for the sake
    of readability. -->
  <script type="application/javascript;version=1.8"
    src="chrome://conversations/content/stub.compose-ui.js"></script>
  <script type="application/javascript;version=1.8"
    src="chrome://conversations/content/stub.completion-ui.js"></script>
  <script type="application/javascript;version=1.8">
    // Below are mostly UI utility functions.
    (function ($) {
      $.fn.vAlign = function(container) {
        if (!container)
          container = "div";

        this.each(function(i) {
          $(this).wrap("<div />");
          var el = $(this);
          var elh = el.height(); //new element height
          var ph = el.parent().height(); //parent height
          var nh = (ph - elh) / 2; //new margin to apply
          if (!nh) {
            $(this).unwrap();
          } else {
            el.css('margin-top', nh);
            // don't align again now we've succeeded
            el.removeClass("align");
          }
        });
      };
    })(jQuery);

    function alignAttachments(aMsgNode) {
      $(aMsgNode._domNode).find(".align").vAlign();
    }

    function scrollNodeIntoView (aNode) {
      let offset = aNode.offsetTop || 0;
      let parent = aNode.parentNode;
      while (parent && !(parent instanceof HTMLDocument)) {
        let style = window.getComputedStyle(parent, null);
        if (style.position == "relative")
          offset += parent.offsetTop;
        parent = parent.parentNode;
      }
      // The header is 44px high (yes, this is harcodeadly ugly).
      window.scrollTo(0, offset + 5 - 44);
    }

    function toggleQuote(event, showquotedtext, hidequotedtext) {
      let link = event.target;
      let div = link.nextSibling;
      let cs = window.getComputedStyle(div, null);
      if (div.style.display == "none") {
        link.textContent = "- "+hidequotedtext+" -";
        div.style.display = "";
        let h = div.getBoundingClientRect().height +
          parseFloat(cs.marginTop) + parseFloat(cs.marginBottom);
        return h;
      } else {
        let h = div.getBoundingClientRect().height;
        h += parseFloat(cs.marginTop);
        h += parseFloat(cs.marginBottom);
        link.textContent = "- "+showquotedtext+" -";
        div.style.display = "none";
        return -h;
      }
    }

    const kPopupTimeout = 500;

    function enableTooltips(aMsg) {
      let $aMsgNode = $(aMsg._domNode);
      $aMsgNode.find('.tooltip').each(function (i) {
        // "details" is a hypothetical "details" link that, when
        //   hovered/clicked, starts the interaction with the tooltip
        let $tooltip = $(this);
        let $details = $tooltip.prev();

        let sticky = false;
        let timeout;
        /* $details.get(0).addEventListener("click", function (event) {
          sticky = !sticky;
          event.stopPropagation();
        }, false); */
        $details.hover(
          function() {
            if (aMsg.collapsed)
              return;
            if (!sticky) {
              clearTimeout(timeout);
              let self = this;
              timeout = setTimeout(function () {
                $(self).next(':hidden').fadeIn();
              }, kPopupTimeout);
            }
          },
          function() {
            var self = this;
            if (!sticky) {
              clearTimeout(timeout);
              timeout = setTimeout(function () {
                $(self).next(/*':visible'*/).fadeOut()
              }, kPopupTimeout);
            }
          });
        $tooltip.hover(
          function () {
            clearTimeout(timeout);
          },
          function () {
            var self = this;
            if ($(this).is(":visible") && !sticky) {
              clearTimeout(timeout);
              timeout = setTimeout(function () {
                $(self).fadeOut();
              }, kPopupTimeout);
            }
          });
      });
    }

    // Setting the second parameter to false means don't fire a stupid timer
    //  that lives forever everytime we call this function.
    function fakeTextOverflowSubject() {
      $(".subject").textOverflow(null, false);
    }

    // XXX I don't think this is used anymore...
    function fakeTextOverflowParticipants(aMsgNode) {
      $(aMsgNode).find(".to").textOverflow(null, false);
    }

    function cleanup() {
      Log.debug("Cleaning up jquery's mess...");
      // These shouldn't be necessary because we're blasting away everything by
      //  setting .innerHTML BUT jQuery won't remove its persistent event
      //  listeners if we don't do that which will in turn cause memory leaks!
      // Indeed, the listeners are actually closures on Message instances. These
      //  contain a pointer to their parent Conversation, so that would prevent
      //  the GC from collecting anything! Argh!
      $("#messageList").empty();
    }

    document.addEventListener("focus", function (event) {
      /* This is a persistent event listener. It can operate multiple
       * times. We have the invariant that for a given conversation, there's at
       * most one such element (recycling doesn't use tabindex 1). */
      let msgNode = document.querySelector(".message[tabindex=\"1\"]");
      if (!msgNode)
        return;

      /* Restore the proper tab order. This event is fired *after* the
       * right message has been focused in Gecko 1.9.2, *before* the right
       * message has been focused in Gecko 1.9.1 (so it's basically
       * useless). */
      let msgNodes = document.getElementsByClassName("message");
      let index;
      for each (let [i, k] in Iterator(msgNodes)) {
        if (k == msgNode) {
          index = i;
          break;
        }
      }
      if (index)
        msgNode.setAttribute("tabindex", index+2);
    }, true);

    window.addEventListener("unload", function () {
      onSave();
    }, false);

    // Below are event listeners for various actions. There is some logic
    //  involved, and they may talk to other parts of the code.

    // This property is now set from the outside. This allows stub.html to
    //  be used either in a standalone tab or in the multimessage pane.
    // let Conversations = window.top.Conversations;

    Components.utils.import("resource://conversations/VariousUtils.jsm");
    Components.utils.import("resource://conversations/MsgHdrUtils.jsm");
    Components.utils.import("resource://conversations/prefs.js");
    Components.utils.import("resource://conversations/log.js");

    let Log = setupLogging("Conversations.Stub");

    // Mark the current conversation as read/unread. The conversation driver
    //  takes care of setting the right class on us whenever the state
    //  changes...
    function toggleRead(event) {
      let $span = $(event.target).find("span.read");
      if ($span.hasClass("unread")) {
        Conversations.currentConversation.read = true;
        $span.removeClass("unread");
      } else {
        Conversations.currentConversation.read = false;
        $span.addClass("unread");
      }
    }

    function expandCollapse(event) {
      let $span = $(event.target).find("span.expand");
      if ($span.hasClass("collapse")) {
        [message.collapse()
          for each ([, { message }] in Iterator(Conversations.currentConversation.messages))];
        $span.removeClass("collapse");
      } else {
        [message.expand()
          for each ([, { message }] in Iterator(Conversations.currentConversation.messages))];
        $span.addClass("collapse");
      }
    }

    function archiveConversation(event) {
      msgHdrsArchive(Conversations.currentConversation.msgHdrs);
    }

    function deleteConversation(event) {
      msgHdrsDelete(Conversations.currentConversation.msgHdrs);
    }

    function detachTab(event) {
      let mainWindow = getMail3Pane();
      let tabmail = mainWindow.document.getElementById("tabmail");
      // Save the current draft in case the user is actually trying to get more
      //  space to edit it...
      let willExpand = $("textarea").parent().hasClass("expand");
      onSave();
      tabmail.openTab("conversationTab", {
        onLoad: function _detachTab_onLoad (event, browser) {
          try {
            browser.contentWindow.Conversations = {
              currentConversation: null,
              counter: 0,
            };
            // Pick _initialSet and not msgHdrs so as to enforce the invariant
            //  that the messages from _initialSet are in the current view.
            let freshConversation = new mainWindow.Conversations.monkeyPatch._Conversation(
              browser.contentWindow,
              Conversations.currentConversation._initialSet,
              Prefs.kScrollUnreadOrLast,
              ++browser.contentWindow.Conversations.counter
            );
            freshConversation.outputInto(browser, function (aConversation) {
              browser.contentWindow.Conversations.currentConversation = aConversation;
              transferQuickReplyToNewWindow(browser.contentWindow, willExpand);
            });
          } catch (e) {
            Log.debug(e);
            dumpCallStack(e);
          }
        }
      });
    }
  </script>
</head>

<body>
  <script id="messageTemplate" type="text/x-jquery-tmpl">
    <li class="message collapsed">
      <div class="messageHeader hbox">
        <div class="star"></div>
        <div class="author">{{tmpl(dataContactFrom) "#contactTemplate"}}</div>
        <div class="involved boxFlex">
          <span class="to">to {{tmpl(dataContactsTo) "#contactTemplate"}}</span>
          <span class="snippet"><ul class="tags regular-tags"></ul>${snippet}</span>
        </div>
        <div class="options">
          <span class="date">
            {{if attachments.length}}
              <img src="chrome://conversations/content/i/attachment.png" />
            {{/if}}
            ${date}
          </span>
          <span class="details"> | <a href="javascript:">details</a></span>
          <span class="dropDown"> |
            <a href="javascript:" class="top-right-more">more <span class="downwardArrow">&#x25bc;</span></a>
            <div class="tooltip">
              <ul>
                <li class="action-archive">archive this message
                  <div class="arrow"></div>
                  <div class="arrow inside"></div>
                </li>
                <li class="action-delete">delete this message</li>
                <li class="action-monospace">this sender sends monospace</li>
                <li class="action-classic">view using the classic reader</li>
                <li class="action-source">view message source</li>
              </ul>
            </div>
          </span>
        </div>
      </div>
      <div class="remoteContent" style="display: none">
        Remote content was hidden:
        <span class="show-remote-content">
          <a href="javascript:">show remote content</a> -
        </span>
        <span class="always-display">
          <a href="javascript:">always show remote content from ${realFrom}</a>
        </span>
      </div>
      <div class="messageBody">
        <!-- Weird markup to deal with whitespace DOM nodes -->
        <ul class="tags special-tags"
          ><li
            class="keep-tag in-folder"
            title="Jump to this folder"
            >In ${folderName}</li
          >{{if draft}}<li
            class="keep-tag edit-draft"
            >Draft (edit)</li
          >{{/if}}</ul
        >
        <ul class="tags regular-tags"></ul>
        <div class="iframe-container"></div>
        {{if attachments.length}}
          <ul class="attachments">
            <div class="attachHeader">
              ${attachmentsPlural}
              | <a href="javascript:" class="link download-all">download all</a>
              {{if false}}| <a href="javascript:" class="view-all">view all</a>{{/if}}
            </div>
            {{each(i, att) attachments}}
            <li class="clearfix hbox attachment">
              <div class="attachmentThumb">
                <img onload="$(this).closest('.attachment').find('.align').vAlign()"
                  class="${att.imgClass}" src="${att.thumb}"
                />
              </div>
              <div class="attachmentInfo align">
                <span class="filename">${att.name}</span>
                <div class="attachActions">
                  ${att.formattedSize}
                   | <a href="javascript:" class="link open-attachment">open</a>
                   | <a href="javascript:" class="link download-attachment">download</a>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
      <div class="messageFooter">
        <button class="reply">reply</button>
        <button class="replyAll">reply all</button>
        <button class="forward">forward</button>
        <button class="action-compose-all" style="float:right; margin-right: 0;">start new thread</button>
        <button class="action-edit-new" style="float:right;">edit as new</button>
      </div>
      {{if quickReply}}
        {{tmpl "#quickReplyTemplate"}}
      {{/if}}
    </li>
  </script>
  <!-- Weird markup again, otherwise, the comma is separated from the name by a
    space because of the #text whitespace-only nodes that end up in the DOM.
  -->
  <script id="contactTemplate" type="text/x-jquery-tmpl"><span
    >${separator}</span
    ><span class="tooltipWrapper contact"
      ><span style="${colorStyle}">${String.trim(name)}</span
      ><div class="tooltip">
        <div class="arrow"></div>
        <div class="arrow inside"></div>
        <div class="authorInfo">
          <span class="name">${tooltipName}</span>
          <span class="authorEmail">
            ${email}
            <button class="copyEmail" title="Copy email address to clipboard">
              <img src="chrome://conversations/content/i/clipboard.png" />
            </button>
          </span>
        </div>
        <div class="authorPicture">
          <img src="${avatar}">
        </div>
        <div class="authorInfo authorLinks">
          {{if ("facebook" in profiles)}}
          <a href="http://www.facebook.com/profile.php?id=${profiles.facebook}" class="profile-link">
            <img src="chrome://conversations/content/i/facebook.ico" />
          </a>
          {{/if}}
          {{if ("twitter" in profiles)}}
          <a href="http://www.twitter.com/${profiles.twitter}" class="profile-link">
            <img src="chrome://conversations/content/i/twitter.ico" />
          </a>
          {{/if}}
          {{if ("google" in profiles)}}
          <a href="${profiles.google}" class="profile-link">
            <img src="chrome://conversations/content/i/google.ico" />
          </a>
          {{/if}}
          {{if ("flickr" in profiles)}}
          <a href="${profiles.flickr}" class="profile-link">
            <img src="chrome://conversations/content/i/flickr.ico" />
          </a>
          {{/if}}
        </div>
        <div class="tipFooter">
          <button class="sendEmail">send email</button>
          <button class="showInvolving">show involving</button>
          <button class="addContact" title="Add to address book">
            <img src="chrome://conversations/content/i/user_add.png" />
          </button>
          <button class="editContact" title="Edit contact in address book">
            <img src="chrome://conversations/content/i/user_edit.png" />
          </button>
        </div>
      </div
    ></span
  ></script>
  <script id="quickReplyTemplate" type="text/x-jquery-tmpl">
    <div class="quickReply">
      <div class="quickReplyRecipients">
        <ul>
          <li class="showCc"><a onclick="showCc(); editFields();" href="javascript:">add cc</a> |</li>
          <li class="showBcc"><a onclick="showBcc(); editFields();" href="javascript:">add bcc</a></li>
          <!-- |<li>
            <input id="startNewThread" type="checkbox" style="vertical-align: text-top"
              onclick="onNewThreadClicked();" />
            start a new thread
          </li>-->
        </ul>
        <ul>
          from:
          <li class="senderName"></li>
        </ul>
        <div class="editRecipientList editToList hbox">
          <div class="label">to:</div>
          <div class="boxFlex"><input type="text" id="to"></div>
        </div>
        <div class="editRecipientList editCcList hbox" style="display: none">
          <div class="label">cc:</div>
          <div class="boxFlex"><input type="text" id="cc"></div>
        </div>
        <div class="editRecipientList editBccList hbox" style="display: none">
          <div class="label">bcc:</div>
          <div class="boxFlex"><input type="text" id="bcc"></div>
        </div>
        <ul class="recipientList toList">
          to:
          <li>Roland Tanglao, </li>
          <li>David Ascher, </li>
          <li>Bryan Clark, </li>
          <li>James Burke</li>
          <li class="add-more">&nbsp;- <a href="javascript:" onclick="editFields('to');">edit</a></li>
        </ul>
        <ul class="recipientList ccList" style="display: none;">
          cc:
          <li>Roland Tanglao, </li>
          <li>David Ascher, </li>
          <li>Bryan Clark, </li>
          <li>James Burke</li>
          <li class="add-more">&nbsp;- <a href="javascript:" onclick="editFields('cc');">edit</a></li>
        </ul>
        <ul class="recipientList bccList" style="display: none;">
          bcc:
          <li>Roland Tanglao, </li>
          <li>David Ascher, </li>
          <li>Bryan Clark, </li>
          <li>James Burke</li>
          <li class="add-more">&nbsp;- <a href="javascript:" onclick="editFields('bcc');">edit</a></li>
        </ul>
        <div class="editRecipientList editSubject hbox" style="display: none">
          <div class="label">subject:</div>
          <div class="boxFlex"><input type="text" id="subject"></div>
        </div>
      </div>
      <div class="quickReplyHeader" style="display: none; overflow: auto">
        <span class="statusMessage" style="float: left;"></span>
        <span class="statusPercentage" style="float: right;"></span>
        <span class="statusThrobber" style="float: right;">
          <img src="chrome://conversations/content/i/loader.gif"
            style="vertical-align: middle;" />
        </span>
      </div>
      <textarea onclick="onTextareaClicked(event);"></textarea>
      <div class="quickReplyFooter" style="overflow: auto" tabindex="-1">
        <button id="send" style="float:right;margin-left:3px;" onclick="onSend(event);">send</button>
        <button id="sendArchive" style="float:right;margin-left:3px;"
            onclick="onSend(event, { archive: true });">
          send &amp; archive
        </button>
        <button id="save" style="float:right" onclick="onSave(event);">save</button>
        <button id="discard" style="float: left;"
          onclick="if (!$('textarea').val().length || confirm('Are you sure you wish to discard this message ?')) onDiscard();">discard</button>
        <button style="float: left; margin-left: 3px"
          onclick="useEditor();">continue using editor</button>
      </div>
    </div>
  </script>
  <div id="wrapper">
    <div id="conversationHeaderWrapper">
      <div id="conversationHeader" class="hbox">
        <div class="subject boxFlex">Loading...</div>
        <div class="actions">
          <button title="Delete this conversation" onclick="deleteConversation(event);">
            <img src="i/trash.png" />
          </button>
          <button title="Archive this conversation" onclick="archiveConversation(event);">
            <img src="i/archive.png" />
          </button>
          <button title="Expand/collapse all messages" onclick="expandCollapse(event);">
            <span class="expand"></span>
          </button>
          <button title="Toggle read/unread all messages" onclick="toggleRead(event);">
            <span class="read"></span>
          </button>
          <button title="Save this conversation in a new tab" onclick="detachTab(event);">
            <img src="i/tab.png" />
          </button>
          <!--<button><span class="mode"></span></button>-->
        </div>
      </div>
    </div>
    <ul id="messageList">
    </ul>
  </div>
</body>
</html>
