body {
  font-family: sans-serif;
  line-height: 1.8rem;
  margin: 0;
  background-color: rgba(160, 160, 160, 0.06);
}

html[os="win"] {
  font-size: 70%;
}

html[os="mac"] {
  font-size: 66.6%;
}

html[os="linux"] {
  font-size: 62.5%;
}

#root {
  padding: 10px;
  height: 100%;
}
