* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande", "DejaVu Sans", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: #ECF3FE;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

p {
  margin-bottom: 18px;
}

button {
  background-image: -moz-linear-gradient(top, #fefefe 0%, #d5d5d5 100%);
  border: 1px solid #919191;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.55);
  -moz-border-radius: 3px;
  text-align: center;
  outline: none;
  height: 22px;
  cursor: pointer;
}

button:hover {
  background-image: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
}

button:active {
  background-image: none;
  background-color: #d5d5d5;
  -moz-box-shadow: inset 0 0 2px #666;
  border: 1px solid #666;
}

button img {
  vertical-align: middle;
}

#conversationHeaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

#conversationHeader {
  width: 100%;
  padding: 5px 10px;
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #e6e6e6 100%);
  border-bottom: 1px solid #bebebe;
  color: #0a0a0a;
}

.subject {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
}

.actions {
}

.actions button {
  width: 28px;
  float: right;
  margin: 0 0 0 3px;
}

.actions button span {
  width: 16px;
  height: 16px;
  margin: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

.actions button span.read {
  background-image: url("chrome://conversations/content/i/read.png");
}

.actions button span.read.unread {
  background-image: url("chrome://conversations/content/i/unread.png");
}

.actions button span.mode {
  background-image: url("chrome://conversations/content/i/mode.png");
}

.actions button span.mode.classic {
  background-image: url("chrome://conversations/content/i/classicMode.png");
}

.actions button span.expand {
  background-image: url("chrome://conversations/content/i/expand.png");
}

.actions button span.expand.collapse {
  background-image: url("chrome://conversations/content/i/collapse.png");
}


#messageList {
  margin-top: 44px;
}

.message {
  margin: 0 10px 10px 10px;
  background-color: #fff;
  background-image: -moz-linear-gradient(top,#fff 0%,#fafafa 100%);
  border: 1px solid #bebebe;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px #CCE0FF;
  list-style-type: none;
}

.message.highlight, .message:focus {
  border: 1px solid #bebebe;
  -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.15);
}

.messageHeader {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer
}

.messageHeader .involved {
  height: 18px;
  padding: 0 5px 0 0;
}

span.downwardArrow {
  font-size: 8px;
  vertical-align: baseline;
}

.messageHeader img {
  vertical-align: text-top;
}

.author {
  color: #ff5959;
  font-weight: bold;
  margin-right: 3px;
}

.contact:not(.inAddressBook) .editContact {
  display: none;
}

.contact.inAddressBook .addContact {
  display: none;
}

.tooltipWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  width: 302px;
  top: 24px;
  left: 16px;
  background-color: #fff;
  border: 1px solid #aaa;
  -moz-box-shadow: 0 0 0 6px rgba(0,0,0,0.25);
  -moz-border-radius: 5px;
  z-index: 1;
  display: none;
}

.dropDown {
  position: relative;
}

.dropDown .tooltip {
  width: 152px;
  left: -110px;
}

.dropDown ul {
  margin-top: 0;
  list-style-type: none;
  font-size: 11px;
}

.dropDown li {
  padding: 3px 5px;
}

.dropDown li:hover,
.dropDown li:nth-child(2n):hover {
  background-image: -moz-linear-gradient(top, #3875D7 0%, #396BBD 100%);
  color: #fff;
  font-weight: bold;
}

.dropDown li:last-child {
  -moz-border-radius: 0 0 5px 5px;
}

.dropDown li:first-child {
  -moz-border-radius: 5px 5px 0 0;
}

.dropDown li:nth-child(2n) {
  background-color: #ECF3FE;
}

.tooltip {
  display: none;
}

.arrow {
  border-color: transparent transparent #666 transparent;
  border-style: solid;
  border-width: 7px;
  height: 0;
  left: 10px;
  top: -14px;
  position: absolute;
  width: 0;
}

.dropDown .arrow {
  left: 120px;
}

.arrow.inside {
  border-color: transparent transparent #fff transparent;
  top: -13px;
}

.dropDown li:hover .arrow.inside {
  border-color: transparent transparent #3875D7 transparent;
}

.authorInfo {
  display: inline-block;
  font-weight: normal;
  float: left;
  width: 200px;
  padding: 10px;
  color: #333;
}

.authorLinks {
  clear: left;
}

a img {
  border-color: transparent;
}

.name {
  font-size: 14px;
  float: left;
  clear: left;
}

.authorEmail {
  color: #888;
  float: left;
  clear: left;
}

.authorPicture {
  display: inline-block;
  float: right;
  max-width: 100px;
  padding: 10px;
}

.authorPicture img {
  max-width: 80px;
  max-height: 80px;
}

.tipFooter {
  width: 100%;
  padding: 5px 10px;
  background-color: #f6f6f6;
  border-top: 1px solid #E6E6E6;
  float: left;
  -moz-border-radius: 0 0 5px 5px;
}

.to {
  color: #666;
  /* We enforce inline-block display so that we can compute the height and
   * possibly remove extra recipients that trigger an overflow. */
  display: inline-block;
}

.options a,
.attachments a,
.link {
  text-decoration: none;
  color: #3875d7;
  cursor: pointer;
}

.options a:hover,
.attachments a:hover ,
.link:hover {
  text-decoration: underline;
}

.message:not(.with-details) .show-with-details {
  display: none;
}

.message.with-details .hide-with-details {
  display: none;
}

.message.collapsed {
  height: 36px;
  -moz-border-radius: 5px;
  margin: 0 10px -6px 10px;
  border-bottom: none;
  overflow: hidden;
}

.message.collapsed .to, 
.message.collapsed .details,
.message.collapsed .dropDown,
.message.collapsed .messageBody .tags,
.message.collapsed p,
.message.collapsed .attachments,
.message .snippet {
  display: none;
}

/* In general, there's no details to display. */
.message .details {
  display: none;
}

.message.collapsed .snippet {
  display: inline-block;
  height: 18px;
  overflow: hidden;
  color: #666;
}

.message .messageBody {
  padding: 0 10px 5px 10px;
  color: #0a0a0a;
}

.message.collapsed iframe {
  display: none;
}

.message iframe {
  width: 100%;
}

.iframe-container {
  margin-top: 5px;
}

.messageHeader .tags {
  padding: 0;
  margin: 0;
  display: inline;
}

.messageBody .tags {
  padding: 0 0 5px 0;
  margin: 0;
  display: inline;
}

ul.tags li {
  display: inline;
  font-size: 10px;
  font-weight: bold;
  /*background-color: #68AB57;*/
  padding: 1px 5px;
  margin-right: 5px;
  -moz-border-radius: 3px;
  color: #fff;
}

ul.special-tags li {
  background-color: #3F5381;
}

ul.special-tags img {
  vertical-align: text-top;
}

.in-folder, .edit-draft {
  cursor: pointer;
}

.message.inView .in-folder {
  display: none;
}

.message .remoteContent {
  padding: 10px;
  background-color: rgba(0,255,0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.15) inset;
  margin: 0 0 10px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
  color: #666;
}

.message .remoteContent a {
  text-decoration: none;
  color: #3875D7;
}

.message .remoteContent a:hover {
  text-decoration: underline;
}

.message.collapsed .remoteContent {
  display: none;
}

.attachments {
  padding: 10px 0 0 0;
  margin: 0 0 18px 0;
}

.attachHeader {
  display: inline;
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.attachments li {
  margin: 10px 0 0 0;
  width: 100%;
  list-style-type: none;
}

.attachmentThumb {
  width: 130px;
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: -moz-linear-gradient(top,#fff 0%,#f2f2f2 100%);
  margin: 0 20px 0 0;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 0px; /* Needed, otherwise there's an extra padding at the bottom... */
}

.attachmentThumb img {
  image-rendering: optimizeQuality;
}

/* For moz-icons */
.attachmentThumb img.icon {
}

/* For thumbnails */
.attachmentThumb img.resize-me {
  max-width: 120px;
  max-height: 80px;
}

.attachActions {
  display: inline;
}

.view-attachment {
  cursor: pointer;
}

.attachmentInfo {
  display: inline-block;
  float: left;
}

.filename {
  display: block;
  font-weight: bold;
}

.messageFooter {
  padding: 5px 10px;
  background-color: #f6f6f6;
  border-top: 1px solid #e6e6e6;
  -moz-border-radius: 0 0 5px 5px;
}

.messageFooter:after {
  content: " ";
  display: block;
  height: 0; 
  clear: both;
  visibility: hidden;
}

.tipFooter button ,
.messageFooter button {
  padding: 0 5px;
  float: left;
  margin: 0 3px 0 0;
}


.star {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url(chrome://conversations/content/i/unstarred.png);
  background-repeat: no-repeat;
  margin-right: 3px;
}

.star.starred {
  background-image: url(chrome://conversations/content/i/star.png);
}

/* Quick reply */

.quickReply {
  padding: 5px 10px 10px;
  background-color: #f6f6f6;
  -moz-border-radius: 0 0 5px 5px;
}

.quickReplyRecipients {
  width: 100%;
  margin: 0 0 5px 0;
  display: none;
}

.quickReply .label {
  -moz-border-radius: 3px 0 0 3px;
  background-image: -moz-linear-gradient(top, #fff 0%, #fff 50%, #fafafa 50%, #fafafa 100%);
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  color: #666;
  padding: 3px 5px 0 0;
  text-align: right;
  width: 75px;
}

.quickReply input:-moz-any(#to, #cc, #bcc, #subject) {
  width: 100%;
  border: 1px solid #aaa;
  padding: 5px;
}

.editRecipientList {
  display:none;
  margin: 0 0 5px 0;
  width: 100%;
}

.quickReplyRecipients.edit .editRecipientList {
  display: -moz-box;
}

.quickReplyRecipients.edit ul.recipientList {
  display: none;
}

.quickReplyRecipients ul {
  margin: 0;
  display: block;
  list-style-type: none;
  margin: 0 0 5px 0;
}

.quickReplyRecipients li {
  display: inline-block;
  color: #666;
}

.quickReplyRecipients a {
  color: #3875D7;
  text-decoration: none;
}

.quickReplyRecipients a:hover {
  text-decoration: underline;
}

.quickReplyHeader {
  padding: 5px 10px;
  background-image: -moz-linear-gradient(top, #fff 0%, #fff 50%, #fafafa 50%, #fafafa 100%);
  border-width: 1px 1px 0;
  border-color: #aaa;
  border-style: solid;
  width: 100%;
  color: #666;
  -moz-border-radius: 3px 3px 0 0;
  display: none;
}

.quickReply textarea {
  width: 100%;
  height: 50px;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #bebebe;  
}

.quickReply.expand textarea {
  height: 150px;
  border: 1px solid #aaa;
}

.quickReply input:focus,
.quickReply.expand textarea:focus {
  -moz-box-shadow: 0 0 0 3px #ECF3FE inset;
}

.quickReplyFooter {
  width: 100%;
  display: none;
  padding: 5px 0 0 0; 
}

.quickReply.expand .quickReplyRecipients,
.quickReply.expand .quickReplyFooter,
.quickReply.expand .quickReplyHeader {
  display: block;
}

.tipFooter button,
.messageFooter button {
  padding: 0 5px;
  float: left;
  margin: 0 3px 0 0;
}

.autocomplete-thumb {
  height: 22px;
  vertical-align: middle;
}

.token-input-list-facebook {
  width: 100%;
}

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}
