/* The icons below work on Linux only... see
 * http://mxr.mozilla.org/comm-central/find?text=&string=folderPane.css for the
 * full details for each platform */
#open_in_new_tab {
  list-style-image: url("moz-icon://stock/gtk-add?size=menu");
}

#archive {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(192px 16px 208px 0px);
}

#mark_as_read {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar-small.png);
  -moz-image-region: rect(0px 144px 16px 128px);
}

#print {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

#back {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}

