.message {
  position: relative;
  border: 1px solid #888;
  -moz-border-radius: 3px 0 3px 0;
  /* box-shadow slows scrolling too much, disabling */
  /*-moz-box-shadow: 2px 2px 5px #888;*/
  margin-bottom: 2ex;
  padding-bottom: 12px;
}

.messagearrow {
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
}

.header {
  margin-left: 0;
}

.sender {
  /*font-weight: bold;*/
}

.snippet {
  /* FIXME should be set dynamically to the default for x-western... but there
   * should be a canonical way of doing this, see message display code */
  font-size: 12px;
}

.wrappedsender, .wrappedsubject, .snippet {
  padding-left: 19px;
}

.wrappedsender, .wrappedsubject {
  border-bottom: 1px solid #888;
  margin-bottom: 1em;
}

.moz-txt-tag {
  display: none;
}

a {
  font-weight: normal;
}

.showhidequote {
  color: #512a45;
}

.msgarrow {
  cursor: pointer;
}

.header {
  padding-top: 0;
}

/*.unread > .row > .header > .snippet {
  color: black;
}

.unread > .row > .header > .wrappedsender {
  border-color: black;
}

.unread {
  border-color: black;
}*/
