@import url(chrome://gconversation/skin/multimessageview_common.css);

/* Toolbar */
#unfold_all {
  list-style-image: url("chrome://gconversation/skin/down.png");
}

#fold_all {
  list-style-image: url("chrome://gconversation/skin/up.png");
}

#print {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

/* General stuff */

.snippet {
  /* FIXME should be set dynamically to the default for x-western... but there
   * should be a canonical way of doing this, see message display code */
  font-size: 12px;
}

/* Inside the messages' bodies */

.messagearrow {
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
}

.msgarrow {
  cursor: pointer;
}
