@import url(chrome://gconversation/skin/multimessageview_common.css);

/* Toolbar */
#unfold_all {
  list-style-image: url("chrome://gconversation/skin/down.png");
}

#fold_all {
  list-style-image: url("chrome://gconversation/skin/up.png");
}

#print {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

/* General stuff */

.snippet {
  /* FIXME should be set dynamically to the default for x-western... but there
   * should be a canonical way of doing this, see message display code */
  font-size: 12px;
}

/* Inside the messages' bodies */

.bottombox {
  width: 100%;
  min-height: 8px;
  text-align: right;
  position: relative;
}

.messagearrow {
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
}

.msgarrow {
  cursor: pointer;
}

.fastreply {
  border: 1px solid #888;
  border-width: 1px 0 0 1px;
  -moz-border-radius: 3px 0 0 0;
  z-index: 1000;
  display: inline-block;
  max-width: 45%;
  text-align: left;
}

.fastreply .fastlink {
  color: #888;
  font-size: small;
  padding: 0 5px;
  cursor: pointer;
  display: inline-block;
}

.fastreply .fastlink:hover {
  color: black;
  text-decoration: none;
}

/* Error */

.error {
  background-color: #f47a7a;
  margin: 2em;
  -moz-border-radius: 20px;
  font-size: small;
  padding: 2em;
  margin-top: 100px;
  border: 3px solid #b13939;
}

.error > .close {
  text-align: center;
}

.error > .close > span {
  cursor: pointer;
  color: navy;
}

.error > .close > span:hover {
  text-decoration: underline;
}
