@import url(chrome://gconversation/skin/multimessageview_common.css);

@page {
  margin: 1cm;
}

/* Heading */

#buttonhbox {
  display: none;
}

.heading {
  font-variant: small-caps;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: large;
  font-family: sans-serif;
}

/* Message header */

.sender:before, .date:before {
  font-weight: bold;
}

/* Message contents */

.messagearrow, .toggle-font, .tags {
  display: none;
}
