/* Toolbar */
.attachment {
  display: inline;
  vertical-align: middle;
}

.message > .row > .header > .wrappedsender > .toggle-font {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(chrome://gconversation/skin/font.png);
}

/* General stuff */

.monospaced-message {
  font-family: -moz-fixed;
  white-space: pre-wrap;
}

.monospaced-snippet {
  font-family: -moz-fixed;
}

.message {
  position: relative;
  -moz-border-radius: 3px 0 3px 0;
  border: 1px solid #888;
  margin-bottom: 2ex;
}

.header {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.wrappedsender, .wrappedsubject, .snippet {
  padding-left: 19px;
}

.wrappedsender, .wrappedsubject {
  border-bottom: 1px solid #888;
  margin-bottom: 1em;
  background-color: rgba(114,159,207,.1);
}

.message.unread .wrappedsender,
.message.unread .wrappedsubject {
	background-color: rgba(114,159,207,.3);
}

.draft-warning {
  color: #991010;
  margin: 0 1em;
  display: inline;
}

.fullmsg {
  color: black;
}

.htmlmsg > iframe {
  border-width: 0;
  width: 100%;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

/* Inside the messages' bodies */

.moz-txt-tag {
  display: none;
}

a {
  font-weight: normal;
}

.showhidequote {
  color: #512a45;
}

/* Extra-colored unread headers */
.message.unread.extra-unread-color > .row > .header > .wrappedsender > .date {
  color: black;
}

.message.unread.extra-unread-color > .row > .header > .wrappedsender {
  background-color: rgb(114, 159, 207);
}

.message.unread.extra-unread-color > .row > .header > .wrappedsender > .toggle-font {
  background: url(chrome://gconversation/skin/font_light.png);
}
