@import url(chrome://gconversation/skin/multimessageview_common.css);

body {
	background-color: #F3F3F3;
}

/* Toolbar */
#unfold_all {
  list-style-image: url("chrome://gconversation/skin/down.png");
}

#fold_all {
  list-style-image: url("chrome://gconversation/skin/up.png");
}

#print {
  list-style-image: url("moz-icon://stock/gtk-print?size=menu");
}

/* General stuff */

.message {
  min-width: 500px;
  background-color: #FFF;
}

.snippet {
  /* FIXME should be set dynamically to the default for x-western... but there
   * should be a canonical way of doing this, see message display code */
  font-size: 12px;
}

/* Inside the messages' bodies */

.bottombox {
  width: 100%;
  min-height: 8px;
  text-align: right;
  position: relative;
}

.messagearrow {
  width: 10%;
  margin: auto 45%;
  height: 16px;
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
}

.msgarrow {
  cursor: pointer;
}

.fastreply {
  border: 1px solid #888;
  border-width: 1px 0 0 1px;
  -moz-border-radius: 3px 0 3px 0;
  display: inline-block;
  /*max-width: 45%;*/
  text-align: left;
  background: #d7d6d7 url(fastreply_bg.png) repeat-x;
  color: transparent;
  font-size: 0px;
}

/*.fastreply*/ .fastlink {
  color: #888;
  padding: 1px 5px;
  cursor: pointer;
  display: inline-block;
  font-size: small;
  border-left: 1px solid rgba(0,0,0,.5);
  border-right: 1px solid rgba(255,255,255,.5);
}

/*.fastreply*/ .fastlink:hover {
  color: black;
  text-decoration: none;
}

.fastreply > .fastlink:first-child {
  border-left: none;
}


/* Error */

.error {
  background-color: #f47a7a;
  margin: 2em;
  -moz-border-radius: 20px;
  font-size: small;
  padding: 2em;
  margin-top: 100px;
  border: 3px solid #b13939;
}

.error > .close {
  text-align: center;
}

.error > .close > span {
  cursor: pointer;
  color: navy;
}

.error > .close > span:hover {
  text-decoration: underline;
}
