/* Toolbar */
.attachment, .toggle-font {
  display: inline;
  vertical-align: middle;
}

/* General stuff */

.monospaced-message {
  font-family: -moz-fixed;
  white-space: pre;
}

.message {
  position: relative;
  -moz-border-radius: 3px 0 3px 0;
  border: 1px solid #888;
  margin-bottom: 2ex;
  padding-bottom: 12px;
}

.header {
  margin-left: 0;
  padding-top: 0;
}

.wrappedsender, .wrappedsubject, .snippet {
  padding-left: 19px;
}

.wrappedsender, .wrappedsubject {
  border-bottom: 1px solid #888;
  margin-bottom: 1em;
}

.fullmsg {
  color: black;
}

.htmlmsg > iframe {
  border-width: 0;
  width: 100%;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

/* Inside the messages' bodies */

.moz-txt-tag {
  display: none;
}

a {
  font-weight: normal;
}

.showhidequote {
  color: #512a45;
}
