/* Hide other actions for the last message */

.message:last-child .messageFooter {
  display: none;
}

/* Quick reply */

.quickReply a {
  text-decoration: none;
  color: -moz-hyperlinktext;
}

.quickReply {
  font-size: 1.2rem;
  background-color: -moz-field;
  color: -moz-fieldtext;
  border-top: 1px solid threedshadow;
  padding: 10px 10px;
  position: relative;

  border-radius: 0 0 5px 5px;
}

.quickReply ul.inputs {
  list-style-type: none;
  overflow: hidden;
  padding-right: 140px; /* overridden in stub.xhtml (localized) */

  margin: -10px -5px;

  transition: all 0.4s ease;
}

.quickReply ul.noPad {
  padding-right: 0 !important;
}

.quickReply ul.inputs li {
  display: inline-block;
  float: left;
  position: relative;
  width: 50%;
  opacity: 1;

  transition: all 0.4s ease;
}

.quickReply ul.inputs li.misc {
  width: auto;
  position: absolute;
  right: 10px;
  width: 140px; /* overridden in stub.xhtml (localized) */
  overflow: hidden;
}

.quickReply ul.inputs li.selected {
  width: 100%;
}

.quickReply ul.inputs li.invisible {
  width: 0px !important;
  opacity: 0;
}

.quickReply .textWrap {
  margin: 10px 5px;
  background-color: white;
  color: black;
  position: relative;
}

.quickReply .icon {
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -16px;
  line-height: 32px;
  text-align: center;
  color: -moz-hyperlinktext;
  white-space: nowrap;
  overflow: hidden;
}

.quickReply .icon img {
  vertical-align: top;
}

.quickReply .textarea {
  width: 100%;
  border: 1px solid threedshadow;
  min-height: 54px;
  height: 54px;
  padding: 0 0 0 100%; /* weird difference between iframe mozframetype="content" and iframe */
  font-size: 1.2rem;
  resize: none;
  background-color: transparent;
  display: block;
  position: relative;
  z-index: 100;
  outline: none;
  overflow: hidden;
  color: transparent;

  font-size: 1.4rem;

  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
}

.quickReply .textarea.ease {
  transition: all 0.4s ease;
}

.quickReply .textarea:focus {
  border-color: threedshadow;

  box-shadow: 0 0 0 2px rgba(0, 107, 255, 0.25) inset;
}

.quickReply li.selected .textarea {
  color: black;
  background-color: white;
  height: 162px;
  overflow: auto;
  resize: vertical;
  padding: 5px 5px 5px 20px;
}

body.inTab .quickReply li.selected .textarea {
  height: 243px;
}

.quickReply .popoutTxt {
  color: #bbb;
  padding: 0 4px 0 15px;
}

.quickReply .popout {
  height: 16px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 5px;
  border-width: 1px 1px 0 0;
  border-color: threedshadow;
  border-style: solid;
  background-color: -moz-field;
  color: -moz-fieldtext;
  cursor: pointer;
  background-image: url('chrome://conversations/content/i/out.png');
  background-position: -4px 2px;
  background-repeat: no-repeat;
  z-index: 101;

  border-radius: 0 3px 0 0;
}

.quickReply .selected .popout {
  width: 16px;
}

.quickReply .selected .popoutTxt {
  display: none;
}

.quickReply ul.actions {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 10px 5px 10px 10px;
  border-left: 1px solid threedshadow;
  min-height: 54px;
}

.quickReply ul.actions li {
  display: block;
  width: 100%;
  margin: 0 0 3px 0;
  white-space: nowrap;
}

.quickReply ul.actions li.fwd {
  background-image: url('chrome://conversations/content/i/fwd.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.quickReply ul.actions li.list {
  background-image: url('chrome://conversations/content/i/list.png');
  background-position: -1px center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.quickReply .replyHeader,
.quickReply .replyFooter {
  display: none;
  overflow: hidden;
  color: threedshadow;
}

.quickReply .replyFooter {
  margin-top: 10px;
}

.quickReply .replyFooter span {
  padding: 0 5px 10px;
  display: block;
}

/* clearfix */

.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

/* Quick reply */

.quickReplyRecipients, .quickReplyAttachments {
  width: 100%;
  margin: 0 0 5px 0;
}

.quickReplyRecipients {
  display: none;
}

.quickReply .label {
  border-radius: 3px 0 0 3px;
  background-color: -moz-dialog;
  color: -moz-dialogtext;
  border-color: threedshadow;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  padding: 3px 5px 0 0;
  text-align: right;
  width: 7.5rem;
  line-height: 1.8;
}

.quickReply input:-moz-any(#to, #cc, #bcc, #subject) {
  width: 100%;
  border: 1px solid threedshadow;
  padding: 5px;
}

.editRecipientList {
  display: none;
  margin: 0 0 5px 0;
  width: 100%;
}

.quickReplyRecipients.edit .editRecipientList {
  display: flex;
}

.quickReplyRecipients.edit ul.recipientList {
  display: none;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) ul {
  margin: 0;
  display: block;
  list-style-type: none;
  margin: 0 0 5px 0;
  color: -moz-default-color;
}

.recipientListSeparator {
  color: #888a85;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) li {
  display: inline-block;
  color: #888a85;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) a {
  text-decoration: none;
}

.replyMethod > label {
  cursor: pointer;
  color: -moz-default-color;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) a:hover {
  text-decoration: underline;
}

.quickReplyHeader {
  padding: 5px 10px;
  background-color: -moz-default-background-color;
  border-width: 1px 1px 0;
  border-color: threedshadow;
  border-style: solid;
  width: 100%;
  color: #888a85;
  border-radius: 3px 3px 0 0;
  display: none;
}

.replyMethod > input {
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 2px;
}

/* hide the right UI items */
.message:not(.isReplyAllEnabled) .action-replyAll {
  display: none;
}

.message:not(.isReplyListEnabled) .action-replyList {
  display: none;
}

.message:not(.isReplyAllEnabled) .quickReply li.replyAll {
  display: none;
}

.message:not(.isReplyAllEnabled) .quickReply li.reply {
  width: 100%;
}

.message:not(.isReplyListEnabled) .quickReply li.list {
  display: none;
}

/* misc */

.autocomplete-thumb {
  height: 22px;
  vertical-align: middle;
}

.token-input-list-facebook {
  width: 100%;
}


/* Quick compose */

#messageList.quickCompose {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

#messageList:not(.quickCompose) .quickReplyContacts {
  display: none;
}

.quickCompose ul.inputs li {
  float: none;
}

.quickCompose .quickReply {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-flow: row;
}

.quickCompose :-moz-any(.quickReplyBox, .inputs, .reply),
.quickCompose .reply :-moz-any(.textWrap, .selected) {
  display: flex !important;
  flex-flow: column;
  flex: auto;
}

.quickCompose .quickReply ul.inputs,
.quickCompose .quickReply ul.inputs li,
.quickCompose .quickReply .textarea.ease {
  transition: none;
  transition: none;
}

.quickCompose .firstBar {
  display: none;
}

.switchLeft, .switchRight {
  cursor: pointer;
}

.quickReplyContacts {
  width: 300px;
  margin-right: 40px;
}

.quickReplyContactsHeader {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: .6em;
}

.popularContact {
  border-bottom: 1px solid threedshadow;
  margin-bottom: 5px;
  clear: both;
  position: relative;
}

.popularPhoto {
  width: 32px;
  margin-right: 4px;
}

.popularName {
  font-weight: bold;
  cursor: pointer;
}

.popularEmail, .popularName {
  /* 300px - 32px - 4px */
  width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.popularRemove {
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
}

.quickReplyContactsMore {
  text-align: center;
}

.quickReplyContactsMoreLink {
  cursor: pointer;
}
