#open_in_new_tab {
  list-style-image: url(chrome://gconversation/skin/newtab_win.png);
}

#archive {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 320px 16px 304px);
}

#mark_as_read {
  list-style-image: url(chrome://gconversation/skin/mail-toolbar-small.png);
  -moz-image-region: rect(0px 144px 16px 128px);
}


#print {
  list-style-image: url("chrome://gconversation/skin/print.png");
}
