.hbox {
  display: flex;
  flex-direction: row;
}

.hbox > * {
  flex: none;
  display: block;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.vbox > * {
  flex: none;
  display: block;
}

.spacer {
  flex: 1;
}


.boxFlex {
  flex: 1;
}
