/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:root {
  --application-background-color: white;
  --application-foreground-color: black;
}

/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --application-background-color: rgb(56, 56, 61);
    --application-foreground-color: rgb(249, 249, 250);
  }
} */

* {
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--application-background-color);
  color: var(--application-foreground-color);
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

html {
  font-size: 83.3%;
}

html[os=win] {
  font-size: 70%;
}

html[os=mac] {
  font-size: 66.6%;
}

html[os=linux] {
  font-size: 62.5%;
}

p {
  margin-bottom: 1.8rem;
}

button {
  -moz-appearance: button;
}

.hidden {
  display: none;
}

.button-flat {
  -moz-appearance: none;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: inherit;
}
.button-flat:hover,
.button-flat:focus {
  border-color: ThreeDShadow;
}

a img {
  border-color: transparent;
}

.link {
  text-decoration: none;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5em;
  vertical-align: -.4em;
  pointer-events: none;
}
.icon.active {
  fill: #3079e0;
}

.icon-link {
  display: inline-block;
  color: #666;
}
.icon-link:focus,
.icon-link:hover {
  color: -moz-CellHighlight;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.conversationHeaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

.conversationHeader {
  padding: 5px 10px;
  background-color: Menu;
  border-bottom: 1px solid ThreeDShadow;
  color: MenuText;
}

.subject {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions button {
  min-width: 30px;
  text-align: center;
  height: 24px;
  float: right;
  margin: 0 0 0 3px;
  color: #666;
}

.actions .unread {
  color: #3079e0;
}

.actions .expand {
  /* relatively scale arrow to match with other icons */
  transform: scale(1.6,1.6);
}

.expand .expand-less,
.expand.collapse .expand-more {
  display: none;
}

.expand.collapse .expand-less {
  display: initial;
}


#messageList {
  margin-top: 4.4rem;
}

.message {
  margin: 0 10px 1px;
  border: 1px solid ThreeDShadow;
  list-style-type: none;
}

.message:focus {
  border: 1px solid ThreeDShadow;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  /* force shadow to the front */
  position: relative;
}

.message:focus:-moz-focusring {
  outline: none;
}

.messageHeader {
  margin: 0 0 5px;
  padding: 0 10px;
  line-height: 3;
  cursor: pointer
}

.collapsed .messageHeader {
  margin: 0;
}

.messageHeader img {
  vertical-align: text-top;
}

.mainActionButton > .icon-link,
.dropDown > .icon-link,
.optionsButton {
  background: none;
  border: 0;
}

.author {
  font-weight: bold;
  margin-inline-end: .3rem;
}

.to,
.bzTo {
  color: #888a85;
}


/* That's what makes the ellipsis appear */
.shrink-box {
  display:        inline-block;
  white-space:    nowrap;
  text-overflow:  ellipsis;
  overflow:       hidden;
  flex:           1;
  margin-inline-end:   .4em;
}

.tooltipWrapper {
  position: relative;
}

.contactTooltipWrapper {
  position: absolute;  /* allow it to be moved over respective contact wrapper */
}

.tooltip {
  position: absolute;
  min-width: 30.2rem;
  max-width: 45rem;
  top: 24px;
  left: 16px;
  background-color: -moz-Field;
  color: -moz-FieldText;
  border: 1px solid ThreeDShadow;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  z-index: 1000;
  line-height: 1.8;
}

html[dir="rtl"] .tooltip {
  left: 0;
  right: 16px;
}

.transition-in > .tooltip {
  animation: fadein 400ms ease-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.transition-out > .tooltip {
  animation: fadeout 400ms ease-in;
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.contactTooltipWrapper .tooltip {
  /* override generic tooltip, so to look closer to contact name */
  left: 0;
}

html[dir="rtl"] .contactTooltipWrapper .tooltip {
  /* override generic tooltip, so to look closer to contact name */
  left: 16px;
  right: 0;
}

.createFilter {
  height: 1.86em;
}

.contactExtra {
  max-width: 12em;
  display: inline;
}

.options > .details-hidden {
  color: -moz-CellHighlight;
}

.options .icon-link {
  font-size: 120%;
  line-height: 1;
}

.options > .date {
  padding-inline-end: 0.5ch;
}

.dropDown {
  position: relative;
}

.dropDown > .tooltip-menu button {
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 3px 5px;
}

.dropDown .tooltip {
  min-width: 15.2em;
  left: auto;
  right: -0.2em;
  line-height: 1.8;
}

html[dir="rtl"] .dropDown .tooltip {
  left: -0.2em;
  right: auto;
}

.dropDown ul {
  margin-top: 0;
  list-style-type: none;
  font-size: 1.1rem;
}

.dropDown li {
  white-space: nowrap;
}

.dropDown li:hover,
.dropDown li:nth-child(2n):hover,
.dropDown li:focus,
.dropDown li:nth-child(2n):focus {
  background-color: -moz-CellHighlight;
  color: -moz-CellHighlightText;
}

.dropDown li:nth-child(2n) {
  background-color: -moz-OddTreeRow;
}

.dropdown-sep {
  border-bottom: 1px solid ThreeDShadow;
}

.arrow {
  border-color: transparent transparent ThreeDShadow transparent;
  border-style: solid;
  border-width: 7px;
  height: 0;
  left: 10px;
  top: -14px;
  position: absolute;
  width: 0;
}

html[dir="rtl"] .arrow {
  right: 10px;
  left: 0;
}

.dropDown .arrow {
  left: auto;
  right: .5em;
}

html[dir="rtl"] .dropDown .arrow {
  right: auto;
  left: .5em;
}

.arrow.inside {
  border-color: transparent transparent -moz-Field transparent;
  top: -13px;
}

.dropDown li:hover .arrow.inside {
  border-color: transparent transparent -moz-CellHighlight transparent;
}

.contactName {
  cursor: pointer;
}

.contactInitials,
.contactAvatar {
  display: inline-block;
  line-height: 2.4;
  min-width: 2.4em;
  border-radius: 1.2em;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.smallEmail {
  font-size: 85%;
  color: #888a85;
  font-weight: normal;
}

.authorInfoContainer {
  display: flex;
  justify-content: space-between;
}

.authorInfo {
  font-weight: normal;
  font-size: 1.2rem;
  text-indent: 0;
  min-width: 20.0rem;
  padding: 10px;
}

.authorLinks {
  clear: inline-start;
}

.name {
  font-size: 1.4rem;
  float: inline-start;
  clear: inline-start;
  max-width: calc(40rem - 100px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.authorEmail {
  display: flex;
  width: 100%;
  color: #888a85;
  overflow: hidden;
  padding-top: 3px;
}

.authorEmailAddress {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-inline-end: 5px;
}

.authorPicture {
  max-width: 100px;
  padding: 10px;
}

.authorPicture img {
  max-width: 80px;
  max-height: 80px;
}

.tipFooter {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(160, 160, 160, 0.1);
  border-top: 1px solid ThreeDShadow;
  float: inline-start;
  border-radius: 0 0 5px 5px;
}

.tipFooter button {
  padding: 0 5px;
  float: inline-start;
  margin: 0 3px 0 0;
}

.message:not(.bugzilla) .bzTo {
  display: none;
}

.message.bugzilla .to {
  display: none;
}

.message.collapsed .bzTo,
.message.collapsed .messageBody,
.message.collapsed .quickReply,
.message.collapsed .smallEmail,
.message.collapsed p,
.message.collapsed iframe,
.message.collapsed .detailsLine {
  display: none !important;
}

.snippet {
  color: #888a85;
}

.message .messageBody {
  padding: 0 10px;
}

.message.with-details .messageBody {
  padding-top: 10px;
}

.message iframe {
  width: 100%;
  vertical-align: bottom;
}

.tags {
  padding: 0;
  margin: 0;
  display: inline;
}

.messageBody .tags li {
  margin-bottom: 5px;
}

.tags li {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 1.8;
  padding: 0 .9em;
  margin-inline-end: .4rem;
  border-radius: .9em;
  color: #fff;
}

.tag-x {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: 1.8em;
  margin-inline-end: -0.9em;
  border-radius: .9em;
  margin-inline-start: .5em;
  background-color: rgba(255,255,255,0.4);
}

.messageHeader .tag-x {
  display: none;
}

.tags li.light-tag {
  color: rgb(10, 10, 10);
}

.tags li.light-tag .tag-x {
  border: 1px solid black;
}

.tags.special-tags li {
  background-color: #3F5381;
}

.tags.special-tags img {
  vertical-align: middle;
}

.tags li.can-click {
  cursor: pointer;
}

.in-folder {
  cursor: pointer;
}

.notificationBar {
  padding: 10px;
  margin: 0 0 10px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: ThreeDShadow;
  background-color: rgb(204, 255, 255);
  color: black;
}

.phishingBar,
.enigmailBar.notok {
  background-color: #ed6666;
}

.enigmailBar.ok {
  background-color: rgb(204, 255, 204);
}

.notificationBar button {
  padding: 0 5px;
  margin: 0 3px 0 0;
}

.notificationBar a {
  text-decoration: underline;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.notificationBar .icon {
  font-size: 1.8em;
}

.lightningImipButton {
  float: inline-end;
}

.enigmailBar .enigmailDetails {
  float: inline-end;
}

.detailsLine {
  font-size: 1.1rem;
  padding: 0 10px;
  color: #888a85;
}

.attachmentIcon {
  color: #666;
}

.attachmentIcon .icon {
  transform: rotate(-50deg);
}

.attachments {
  padding: 10px 0 0 0;
  margin: 0 0 18px 0;
}

.attachHeader {
  display: inline;
  padding-top: 10px;
  border-top: 1px solid ThreeDShadow;
}

.attachments li {
  margin: 10px 0 0 0;
  width: 100%;
  list-style-type: none;
}

.attachmentThumb {
  width: 130px;
  padding: 4px;
  border: 1px solid ThreeDShadow;
  background-color: #fff;
  background-image: linear-gradient(to bottom,#fff 0%,#f2f2f2 100%);
  margin: 0 20px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 0; /* Needed, otherwise there's an extra padding at the bottom... */
}

.attachmentThumb img {
  image-rendering: optimizeQuality;
}

.preview-attachment {
  font-weight: bold;
}

/* For moz-icons */
.attachmentThumb img.mime-icon {
  height: auto;
  width: 48px;
}

/* For thumbnails */
.attachmentThumb img.resize-me {
  max-width: 120px;
  max-height: 80px;
}

.attachActions {
  display: inline-block;
  margin-top: .5em;
  font-size: 150%;
}

.view-all {
  font-weight: bold;
}

.view-attachment {
  cursor: pointer;
}

.attachmentInfo {
  display: inline-block;
  float: inline-start;
}

.filename,
.filesize {
  display: block;
}

.filename {
  font-weight: bold;
}

.filesize
.messageFooter {
  padding: 2px 10px;
}

.footerActions {
  float: inline-end;
}

.footerActions button {
  font-size: 120%;
  background: none;
  border: 0;
  color: #666;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  cursor: pointer;
}

.footerActions button:hover,
.footerActions button:focus {
  color: -moz-CellHighlight;
}

.messageFooter.hide .footerActions {
  display: none;
}

.messageFooter.hide {
  padding: 0;
}

.messageFooter:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.star {
  display: inline;
  margin-inline-end: 3px;
  color: #888a85;
  font-size: 80%;
}

.star .icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
}

.star.starred {
  color: #fcb040;
}
.star.starred .icon {
  fill: currentColor;
  stroke: currentColor;
}

/* bottom links: forward this conversation, print this conversation */
.bottom-links {
  text-align: end;
  padding: 5px 10px 10px 10px;
}

/* for printing */

.body-container {
  display: none;
}

/* signed / decrypted */
.message:not(.decrypted) .tag-decrypted {
  display: none;
}

.special-tag.enigmail-signed,
.tag-decrypted {
  background-color: #68AB57 !important;
}

/* DKIM Verifier plugin */
.special-tag.dkim-signed.SUCCESS {
  background-color: #68AB57 !important;
}

.special-tag.dkim-signed.SUCCESS.warnings {
  background-color: orange !important;
}

.special-tag.dkim-signed.PERMFAIL {
  background-color: red!important;
}

.dkim-signed {
  position: relative;
}

.dkim-signed span {
  display:none;
}

.dkim-signed:hover span {
  display: inline;
  position: absolute;
  top: 24px;
  padding: 5px;
  color: #111;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0 0 0 6px rgba(0,0,0,0.25);
  border-radius: 5px;
  width: -moz-max-content;
  z-index: 1000;
}

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(loader.gif);
}

.messageBody > iframe {
  overflow-y: hidden;
  border: none;
}
