/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.iframe-container {
  display: none;
}

.body-container {
  display: block;
  white-space: pre-wrap;
}

.messageFooter,
.actions {
  display: none;
}

#conversationHeaderWrapper {
  box-shadow: 0 0 0 transparent;
  position: static;
  font-size: large;
}

#messageList {
  margin-top: 1em;
}

.quickReply {
  display: none;
}
