/* Quick reply */

.quickReply a {
  text-decoration: none;
  color: -moz-nativehyperlinktext;
}

.quickReply {
  font-size: 1.2rem;
  background-color: rgba(160, 160, 160, 0.1);
  border-top: 1px solid ThreeDShadow;
  padding: 10px;
  position: relative;
}

.quickReply.disabled {
  background-color: inherit;
  border-top: none;
  padding: 0;
}

.quickReply ul.inputs {
  list-style-type: none;
  display: flex;
  transition: all 0.4s ease;
}

.quickReply ul.inputs li {
  width: 50%;
  transition: all 0.4s ease;
}

.quickReply ul.inputs li:last-child {
  margin-left: 10px;
}

.quickReply ul.inputs li.selected {
  width: 100%;
  margin-left: 0;
}

.quickReply ul.inputs li.invisible {
  width: 0 !important;
  opacity: 0;
}

.quickReply .textWrap {
  background-color: Window;
  color: WindowText;
  position: relative;
}

.quickReplyIcon {
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -16px;
  line-height: 32px;
  text-align: center;
  color: -moz-nativehyperlinktext;
  white-space: nowrap;
  overflow: hidden;
}

.quickReply .textarea {
  width: 100%;
  border: 1px solid ThreeDShadow;
  min-height: 54px;
  height: 54px;
  padding: 0 0 0 100%; /* weird difference between iframe mozframetype="content" and iframe */
  font-size: 1.2rem;
  resize: none;
  background-color: transparent;
  display: block;
  position: relative;
  z-index: 100;
  outline: none;
  overflow: hidden;
  color: transparent;

  font-size: 1.4rem;
}

.quickReply .textarea.ease {
  transition: all 0.4s ease;
}

.quickReply .textarea:focus {
  border-color: ThreeDShadow;

  box-shadow: 0 0 0 2px rgba(0, 107, 255, 0.25) inset;
}

.quickReply li.selected .textarea {
  color: WindowText;
  background-color: Window;
  height: 162px;
  overflow: auto;
  resize: vertical;
  padding: 5px 5px 5px 20px;
}

body.inTab .quickReply li.selected .textarea {
  height: 243px;
}

.quickReply .replyHeader,
.quickReply .replyFooter {
  display: none;
  overflow: hidden;
  color: ThreeDShadow;
}

.quickReply .replyFooter {
  margin-top: 10px;
}

.quickReply .replyFooter span {
  padding: 0 5px 10px;
  display: block;
}

/* Quick reply */

.quickReplyRecipients,
.quickReplyAttachments {
  width: 100%;
  margin: 0 0 5px 0;
}

.quickReplyRecipients {
  display: none;
}

.quickReply .label {
  border-radius: 3px 0 0 3px;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  border-color: ThreeDShadow;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  padding: 3px 5px 0 0;
  text-align: right;
  width: 7.5rem;
  line-height: 1.8;
}

.quickReply input:-moz-any(#to, #cc, #bcc, #subject) {
  width: 100%;
  border: 1px solid ThreeDShadow;
  padding: 5px;
}

.editRecipientList {
  display: none;
  margin: 0 0 5px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.editRecipientList > editInput {
  flex: 1;
}

.quickReplyRecipients.edit .editRecipientList {
  display: flex;
}

.quickReplyRecipients.edit ul.recipientList {
  display: none;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) ul {
  margin: 0;
  display: block;
  list-style-type: none;
  margin: 0 0 5px 0;
  color: -moz-default-color;
}

.recipientListSeparator {
  color: #888a85;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) li {
  display: inline-block;
  color: #888a85;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) a {
  text-decoration: none;
}

.replyMethod > label {
  cursor: pointer;
  color: -moz-default-color;
}

:-moz-any(.quickReplyRecipients, .quickReplyAttachments) a:hover {
  text-decoration: underline;
}

.quickReplyHeader {
  padding: 5px 10px;
  background-color: -moz-default-background-color;
  border-width: 1px 1px 0;
  border-color: ThreeDShadow;
  border-style: solid;
  width: 100%;
  color: #888a85;
  border-radius: 3px 3px 0 0;
  display: none;
}

.replyMethod > input {
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 2px;
}

.enigmail li {
  display: inline-block;
}

.enigmail :-moz-any(.replyEncrypt, .replySign, .replyPgpMime) > input {
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 2px;
}

.enigmail :-moz-any(.replyEncrypt, .replySign, .replyPgpMime) > label {
  color: -moz-default-color;
}

/* misc */

.autocomplete-thumb {
  height: 22px;
  vertical-align: middle;
}

.token-input-list-facebook {
  width: 100%;
}


/* Quick compose */

#messageList.quickCompose {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

#messageList:not(.quickCompose) .quickReplyContacts {
  display: none;
}

.quickCompose ul.inputs li {
  float: none;
}

.quickCompose .quickReply {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-flow: row;
}

.quickCompose :-moz-any(.quickReplyBox, .inputs, .reply),
.quickCompose .reply :-moz-any(.textWrap, .selected) {
  display: flex !important;
  flex-flow: column;
  flex: auto;
}

.quickCompose .quickReply ul.inputs,
.quickCompose .quickReply ul.inputs li,
.quickCompose .quickReply .textarea.ease {
  transition: none;
  transition: none;
}

.quickCompose .firstBar {
  display: none;
}

.switchLeft,
.switchRight {
  cursor: pointer;
}

.quickReplyContacts {
  width: 300px;
  margin-right: 40px;
}

.quickReplyContactsHeader {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: .6em;
}

.popularContact {
  border-bottom: 1px solid ThreeDShadow;
  margin-bottom: 5px;
  clear: both;
  position: relative;
}

.popularPhoto {
  width: 32px;
  margin-right: 4px;
}

.popularName {
  font-weight: bold;
  cursor: pointer;
}

.popularEmail,
.popularName {
  /* 300px - 32px - 4px */
  width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.popularRemove {
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
}

.quickReplyContactsMore {
  text-align: center;
}

.quickReplyContactsMoreLink {
  cursor: pointer;
}
