/* Quick reply */

:root {
  --border-color: light-dark(#d4d4d8, #3f3f46);
}

.quickReply a {
  text-decoration: none;
  color: -moz-nativehyperlinktext;
}

.quickReply {
  font-size: 1.2rem;
  background-color: rgba(160, 160, 160, 0.06);
  border-top: 1px solid var(--border-color);
  padding: 10px;
  position: relative;
}

.quickReply.disabled {
  background-color: inherit;
  border-top: none;
  padding: 0;
}

.replyBoxWrapper {
  display: flex;
}

.replybox: {
  flex: 1;
}

.replyBox {
  /* position: absolute; */
  width: 100%;
  height: 54px;
  min-height: 54px;
  line-height: 54px;
  background-color: Canvas;
  color: -moz-nativehyperlinktext;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.replyBox.replyAll,
.replyBox.replyList {
  margin-inline-start: 10px;
}
