/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
  background-color: var(--application-background-color);
  color: var(--application-foreground-color);
}

#preferencesGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1ch 0px;
  grid-auto-rows: auto;
}

#preferencesGrid > div {
  padding: 0.5em 1em;
  border-bottom: 1px solid grey;
}

#preferencesGrid > .prefSectionContent {
  padding-top: 1.5em;
}

#preferencesGrid > div > input[type="text"] {
  width: 90%;
}

.title {
  font-weight: bold;
}

h1 {
  text-align: center;
}
