/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

body {
  background-color: var(--application-background-color);
  color: var(--application-foreground-color);
}

.preferencesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.prefSectionContent {
  display: grid;
  grid-template-columns: 50% 50%;
}

.inputWrapper {
  align-content: center;
  margin-left: 1em;
  margin-right: auto;
}

.inputWrapper,
.descriptionWrapper {
  padding: 0.5em 1em;
  border-bottom: 1px solid grey;
  width: 100%;
}

.inputWrapper > input[type="number"] {
  width: 3em;
}

.title {
  font-weight: bold;
}

h1 {
  text-align: center;
}
