* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande", Trebuchet MS, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #222;
  background-color: #ecf3fe;
}

.photoWrap {
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #bebebe;
  position: relative;
  text-align: center;

  border-radius: 5px;
  box-shadow: 0 1px 2px #cce0ff;
}

.photoWrap img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.photoWrap .informationline {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.photoWrap .filename {
  font-weight: bold;
}

.photoWrap .size {
  color: #aaa;
  margin: 0 5px;
}

.photoWrap .count {
  text-align: right;
}
