:root {
  --border-color: #e3e3e3;
}

.from > span {
  color: #575656;
  margin-bottom: 5px;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons > button {
  padding: 0.3em 1em;
  background-color: -moz-dialog;
  color: #666;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  .buttons > button {
    color: -moz-fieldtext;
  }
}

.buttons > button:hover {
  filter: brightness(85%);
}

.buttons > button > .icon {
  margin-inline-end: 0.3em;
}
