name: JavaScript linting

on:
  push:
    branches:
      - main
      - "[0-9]*"
    paths:
      - "**.cjs"
      - "**.mjs"
      - "**.json"
      - package*.json
      - ".*eslint*"
      - ".*prettier*"
      - .github/workflows/lint.yml
  pull_request:
    branches:
      - main
      - "[0-9]*"
    paths:
      - "**.cjs"
      - "**.mjs"
      - "**.json"
      - package*.json
      - ".*eslint*"
      - ".*prettier*"
      - .github/workflows/lint.yml

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.x
      - name: Install dependencies
        run: npm ci --force
      - name: eslint
        run: npm run test:lint
      - name: Prettier
        run: npm run test:format
      - name: TypeScript
        run: npm run test:typescript
