name: JavaScript linting

on:
  push:
    branches:
      - main
      - '[0-9]*'
    paths:
      - '**.jsx?'
      - '**.cjs'
      - '**.mjs'
      - '**.json'
      - package.json
      - '.*eslint*'
      - '.*prettier*'
      - .github/workflows/lint.yml
  pull_request:
    branches:
      - main
      - '[0-9]*'
    paths:
      - '**.jsx?'
      - '**.cjs'
      - '**.mjs'
      - '**.json'
      - package.json
      - '.*eslint*'
      - '.*prettier*'
      - .github/workflows/lint.yml

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm ci
      - name: eslint
        run: npm run test:lint
