name: Unit Tests

on:
  push:
    branches:
      - main
      - "[0-9]*"
    paths:
      - addon/**
      - scripts/**
      - babel.config.cjs
      - package*.json
      - webpack.config.cjs
      - .github/workflows/unit.yml
  pull_request:
    branches:
      - main
      - "[0-9]*"
    paths:
      - addon/**
      - scripts/**
      - babel.config.cjs
      - package*.json
      - webpack.config.cjs
      - .github/workflows/unit.yml

jobs:
  unittests:
    name: unittests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.x
      - name: Install dependencies
        run: npm ci --force
      - name: Run node tests
        run: npm run test:node
